##### MacOS
# General
.DS_Store
.AppleDouble
.LSOverride
/vendor/
/bin/
/data/
/composer.lock
/.idea/encodings.xml
/.idea/FlightAwarePHPClient.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
